/* ===== SECTION 1 ===== */
.about {
  margin-top: 3.5%;
}

.about-section-one {
  padding: 25px 0;
  background: #ffffff;
}

.about-container {
  width: 100%;
}

.about-content {
  padding-right: 20px;
}

.about-heading {

}

.about-subheading {
  margin-bottom: 20px;
}

.about-text {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 16px;
}

.about-image-wrapper {
  width: 100%;
}

.about-image {
  width: 100%;
  border-radius: 6px;
}
/*---------- mission-vision----------- */
.mission-vision-section {
  position: relative;
  width: 100%;
  min-height: 450px;
  background-image: url("../assets/Banner/factory1.png"); /* change image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.mission-vision-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 80px 0px;
}

.mission-vision-wrapper {
  position: relative;
  min-height: 350px;
  max-height: 500px;
}

/* Common styles */
.mission-box,
.vision-box {
  width: 45%;
  color: #fff;
}

.mission-box h4,
.vision-box h4 {
  font-size: 32px;
  margin-bottom: 20px; /* little more space for underline */
  font-weight: 600;
  color: #fff;
  position: relative;
  display: inline-block; /* so underline fits text width */
}

/* Underline */
.mission-box h4::after,
.vision-box h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 65%;         
  height: 2px;         
  background-color: #fff; 
 
}

.mission-box p,
.vision-box p {
  font-size: 18px;
  line-height: 1.7;
  color: #eaeaea;
  margin-top: 1rem;
}

/* Positioning */
.mission-box {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.vision-box {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
}
/* ===== SECTION 2 ===== */
/* .our-quality {
  margin-top: 3.5%;
  padding: 25px 0;
  background: #f7f9fb;
}

.our-quality-container {
  width: 100%;
}

.our-quality-image-wrapper {
  width: 100%;
}

.our-quality-image {
  width: 100%;
  border-radius: 6px;
}

.our-quality-content {
  padding-left: 20px;
}

.our-quality-heading {

}

.our-quality-subheading {
  font-size: 22px;
  font-weight: 600;
  color: #286a94;
  margin-bottom: 20px;
}

.our-quality-text {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 30px;
}

*/
.our-quality-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our-quality-box {
  background: #ffffff;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.our-quality-icon {
  font-size: 27px;
  color: #286a94;
}

.our-quality-box span {
  font-size: 17px;
  font-weight: 600;
  color: #0e2a34;
} 
/* ===== SECTION 3 : DIRECTORS ===== */
.directors {
  padding: 65px 0;
  background: #ffffff;
}

.directors-container {
  width: 100%;
  justify-content: space-between !important;
}

.directors-row {
  margin-bottom: 80px;
}

.directors-row:last-child {
  margin-bottom: 0;
}

.directors-content {
  padding-right: 20px;
}

.directors-heading {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.directors-subheading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.directors-text {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  text-align: justify;
}

.directors-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }

 .directors-image2{
margin-right: auto !important;
margin-left: 0px !important;
 }
.directors-image {
  width: 80%;
  height: 325px;
  border-radius: 6px;
  object-fit: cover;
  margin-left: auto ;

}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .about-section-one,
  .our-quality {
    padding: 70px 0;
  }

  .about-content,
  .our-quality-content {
    padding: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .about-heading,
  .our-quality-heading {
    font-size: 30px;
  }

  .our-quality-boxes {
    grid-template-columns: 1fr;
  }
    .directors {
    padding: 70px 0;
  }

  .directors-content {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .directors-heading {
    font-size: 30px;
  }
  .directors-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .directors-image2{
margin: auto !important;

 }
.directors-image {
  width: 100%;
  height: 325px;
  border-radius: 6px;
  object-fit: cover;
  margin: auto !important;

}
  .mission-box,
  .vision-box {
    position: static;
    width: 100%;
    margin-bottom: 30px;
  }
}
