.footer {
  background: #111;
  color: #ddd;
  padding: 45px 0px;
}
.footer-col  {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
/* background-color: #286a94; */

}
.footer-logo{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: auto;
  margin-bottom: 15px;
}
.footer-logo img{
  height: 50px;
  width: auto;
  margin-right: auto;
}
.footer-col h5 {
  color: #fff;
  margin-bottom: 16px;
  font-size: 18px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 10px;
 
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col a {
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
}

.footer-col a:hover {
  color: #286a94;
}

/* BOTTOM BAR */
.footer-bottom {
  background: #000;
  padding: 14px 0;
  color: #bbb;
  font-size: 14px;
}

.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-col {
    align-items: flex-start !important;   /* 👈 center se left */
    text-align: left !important;
  }

  .footer-logo {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin-right: 0;
  }
.col-heading{
  font-size: 22px !important;
  font-weight: 600;
  margin-top: 25px;
}
  .footer-col ul,
  .footer-col p,
  .footer-col h5,
  .footer-col a {
    text-align: left !important;
    font-size: 18px;
  }

  .footer-bottom-inner {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    text-align: left;
  }
}

