.footer {
  background: #111;
  color: #ddd;
  padding: 45px 0px;
}
.footer-col  {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
/* background-color: #902724; */

}

.footer-col h5 {
  color: #fff;
  margin-bottom: 16px;
  font-size: 18px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 10px;
 
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col a {
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
}

.footer-col a:hover {
  color: #902724;
}

/* BOTTOM BAR */
.footer-bottom {
  background: #000;
  padding: 14px 0;
  color: #bbb;
  font-size: 14px;
}

.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-top {
    text-align: center;
  }

  .footer-col {
    margin-bottom: 30px;
  }

  .footer-bottom-inner {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }
}
