.home-products {
  margin-top: 3.5%;
  padding: 25px 0;
  background-color: #286b940b;
}

/* HEADER */
.home-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.home-products-subtitle {
  color: #0e2a34;
  display: block;

}

.home-products-title {
  color: #0e2a34;
}

/* ARROWS WRAPPER */
.home-products-arrows {
  display: flex;
  gap: 10px;
}

/* EACH ARROW BUTTON AS SEPARATE BOX */
.home-products-arrow {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 4px;       /* optional: thoda smooth look */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.home-products-arrow:hover {
  background: #286a94;
  color: #fff;
  border-color: #286a94;
}

/* CARD */
.home-products-card {
  background: #fff;
  overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.08) !important;
height: 100%;
}

/* IMAGE AREA */
.home-products-card-image {
  position: relative;
  height: 240px; /* ~75% feel */
  overflow: hidden;
}

.home-products-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.home-products-h4{
  font-weight: 600;
  text-transform: capitalize;
}
.home-products-p{
  font-weight: 600;
}
/* HOVER OVERLAY */
.home-products-card-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px;
 opacity: 0;
  transition: 0.4s ease;
}

.home-products-card-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: left;
}

.home-products-card-overlay li {
  list-style: disc;   /* ● dot before text */
  margin-bottom: 8px;
  font-size: 16px;
}

/* HOVER EFFECT */
.home-products-card:hover .home-products-card-image img {
  transform: scale(1.1);
}

.home-products-card:hover .home-products-card-overlay {
  opacity: 1;
}

/* CONTENT */
.home-products-card-content {
  background-color: #286b9400;
  padding: 16px;
}

.home-products-card-content h4 {
  font-size: 18px;
  margin-bottom: 6px;
  color: #0e2a34;
}

.home-products-card-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.home-products-readmore {
  display: inline-block;
  margin-top: 12px;
  padding-top: 12px;
  text-decoration: none;
  font-weight: 600;
  color: #000; /* or your theme color */
  position: relative;
}
.home-products-readmore a{
  text-decoration: none;
  color: #286a94;
}
/* Dotted line above Read More */
.home-products-readmore::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  border-top: 1.5px dotted #999; /* change color if needed */
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .home-products-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .home-products-title {
    font-size: 30px;
  }
}
