.home-banner {
  position: relative;
  min-height: 620px;
  background: url("../assets/Banner/sfb-demo-bg.jpg") center/cover no-repeat;
}

.home-banner-overlay {
  height: 620px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}

.home-banner-content {
  max-width: 600px;
  color: #fff;
}

.home-banner-content h1 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 16px;
}

.home-banner-content p {
  font-size: 16px;
  line-height: 1.7;
  opacity: 0.9;
}

/* BOTTOM WRAPPER */
.hb-bottom-wrapper {
  position: absolute;
  bottom: -145px;
  left: 6%;
  width: 75%;
  display: flex;
  z-index: 20;
}

/* LEFT DARK BOX */
.hb-bottom-left {
  width: 65%;
  background: #0e2a34;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 32px 20px;
}

.hb-progress {
  text-align: center;
  color: #fff;
}

.hb-progress p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}

/* CIRCLE */
.hb-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 6px solid #b6e44b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}

/* RIGHT WHITE BOX */
.hb-bottom-right {
  width: 35%;
  /* background: #ffffff; */
  background-color: antiquewhite;
  padding: 28px 32px;
  padding-top: 80px !important;
  overflow: hidden;
  margin-left: auto;

}

.hb-bottom-right h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #111;
}

/* SLIDER */
.hb-brands-slider {
    overflow: hidden;
  width: 100%;
}

.hb-brands-track {
  display: flex;
  gap: 30px;
  animation: brandSlide 18s linear infinite;
}

/* BRAND ITEM */
.brand-item {
  min-width: 120px;
  display: flex;
  flex-direction: column;   /* FIX: text below image */
  justify-content: baseline;
  align-items: flex-end;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #111;
}

.brand-item img {
  height: 32px;
  object-fit: contain;
}

/* ANIMATION */
@keyframes brandSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .hb-bottom-wrapper {
    flex-direction: column;
    width: 90%;
    left: 5%;
  }

  .hb-bottom-left,
  .hb-bottom-right {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home-banner {
    padding-bottom: 140px;
  }

  .home-banner-content h1 {
    font-size: 32px;
  }

  .hb-bottom-left {
    flex-direction: column;
    gap: 20px;
  }
}
