.home-about {
  margin-top: 3.5%;
  padding: 25px 0 ;
  background: #ffffff;
}

/* LEFT CONTENT */
.home-about-content {
  max-width: 520px;
 
}

.home-about-tag {
  /* color: transparent;
  -webkit-text-stroke: 1px #286a94;
  display: block; */
}

.home-about-heading {
 
}

.home-about-description {
  color: #555;
  text-align: justify;
 
 }

/* POINTS */
.home-about-points {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
}

.home-about-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-about-list-item {
  font-size: 16.5px;
  color: #333;
  margin-bottom: 14px;
  position: relative;
  padding-left: 26px;
}

.home-about-list-item::before {
  content: "↗";
  position: absolute;
  left: 0;
  color: #286a94;
  font-weight: 700;
}

/* BUTTON */
.home-about-btn {
  background: #286a94;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;

}

/* RIGHT IMAGE */
.home-about-image-wrapper {
  position: relative;
}

.home-about-image {
  width: 100%;
  border-radius: 6px;
}

/* PLAY BUTTON */
.home-about-play-btn {
  position: absolute;
  top: 40px;
  left: -30px;
  width: 70px;
  height: 70px;
  background: #286a94;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .home-about {
    padding: 80px 0;
  }

  .home-about-content {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .home-about-points {
    flex-direction: column;
    gap: 10px;
  }

  .home-about-play-btn {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .home-about-heading {
    font-size: 32px;
  }

  .home-about-tag {
    font-size: 34px;
  }
}
