.customer {
  padding: 45px 0;
  margin-top: 3.2%;
  /* background: #f7f9fb; */
  background-color: #286b940b;
}

.customer-heading {
  color: #286a94;
  }

/* CARD */
.customer-card {
  margin-top: 25px;
background-color: #286a94;
  text-align: left;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP PART */
.customer-card-top {
  padding: 35px 15px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* LOGO */
.customer-logo img {
  width: 50px;
  height: 50px ;
  object-fit: contain;
}

/* NAME */
.customer-name {
  font-size: 16px;
  font-weight: 600;
  color: #fffffff6 !important;
  margin: 0;
}

/* DIVIDER */
.customer-divider {
  height: 1px;
  background: #e6e6e6;
  width: 100%;
}

/* TAGLINE */
.customer-tagline {
 padding: 15px;
  margin: auto;
  font-size: 12.5px;
  color: #666;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .customer {
    padding: 60px 0;
  }

  .customer-heading {
    font-size: 28px;
  }
}
