.preloader-wrapper {
  position: fixed;
  inset: 0;
  background: #0e1f2a; /* dark premium bg */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* ===== CIRCLE ANIMATION ===== */
.loader-circle {
  position: relative;
  width: 60px;
  height: 60px;
}

.loader-circle span {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #2f89fc;
  animation: spin 1.2s linear infinite;
}

.loader-circle span:nth-child(2) {
  border-top-color: #00d2ff;
  animation-delay: -0.4s;
}

.loader-circle span:nth-child(3) {
  border-top-color: #f7a422;
  animation-delay: -0.8s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0.8);
    opacity: 0.6;
  }
}

/* ===== HANDWRITING TEXT ===== */
.handwriting {
  margin-top: 20px;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
 /* font-family: "Dancing Script", cursive; */
 font-family: poppins;
}

.handwriting span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-18px);
  animation: writeIn 0.5s ease forwards;
}

@keyframes writeIn {
  0% {
    opacity: 0;
    transform: translateX(-25px);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

