.why-choose {
  margin-top: 14%;
  padding: 25px 0;
  background: #ffffff;
}

/* IMAGE SECTION */
.why-choose-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.why-choose-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* IMAGE BOX */
.why-choose-image-box {
  position: absolute;
  bottom: 1px;
  left: 1px;
  background: #0e2a34;
  color: #fff;
  padding: 50px 28px;
  max-width: 60%;
  height: fit-content;
}

.why-choose-image-box h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.why-choose-image-box p {
  font-size: 14px;
  opacity: 0.9;
}

/* CONTENT */
.why-choose-content {
  padding: 25px 35px;
    text-align: justify;
}

.why-choose-tag {
  color: transparent;
  -webkit-text-stroke: 1px #0e2a34;
  display: block;
 }

.why-choose-heading {
  color: #0e2a34;
}

.why-choose-description {
  color: #555;
}

/* FEATURES */
.why-choose-features {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.why-choose-feature h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #0e2a34;
}

.why-choose-feature p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}
/* ===== WHY US BOXES ===== */
.whyus-box-container {
  margin-top: 75px;
}

.whyus-box-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/* EACH BOX */
.whyus-box-item {
  flex: 1;
  flex-direction: column;
  background: #286a94;
    color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: flex-start; /* left aligned */
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

/* ICON */
.whyus-box-icon {
  width: 48px;
  height: 48px;
  object-fit: cover;
  /* margin: auto !important; */
}

/* TEXT */
.whyus-box-text h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #ffffff;
  /* color: #0e2a34; */
}

.whyus-box-text p {
  font-size: 14px;
  /* color: #666; */
     color: #fffffff6 !important;
  margin: 0;
  line-height: 1.5;
}



/* RESPONSIVE */
@media (max-width: 992px) {
  .why-choose-content {
    padding: 40px 20px;
  }
.whyus-box-container {
  margin-top: 75px;
}
  .why-choose-heading {
    font-size: 34px;
  }

  .why-choose-tag {
    font-size: 34px;
  }

  .why-choose-image-box {
    left: 20px;
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  .why-choose {
    padding: 70px 0;
  }
.whyus-box-container {
  margin-top: 75px;
}
  .why-choose-image-box {
    position: relative;
    left: 0;
    bottom: 0;
    margin: 20px;
  }
    .whyus-box-row {
    flex-direction: column;
    align-items: center;
  }

  .whyus-box-item {
    width: 95%;
  }
}
