.App{
   font-family: "Montserrat", sans-serif !important;
}

.page-heading{
font-size: 35px;
  color: transparent !important;
  -webkit-text-stroke: 1px #286a94 !important;
  display: block !important;
  font-weight: 500;
}
.page-large-heading{
font-size: 24px;
margin-bottom: 15px;
font-weight: 600;
text-transform: capitalize;
}
.page-description{
  line-height: normal;
  font-size: 17.2px;
  font-weight: 500;
}