.App{
   /* font-family: "Montserrat", sans-serif !important; */
   font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;

}

.page-heading{
font-size: 36px;
color: #286a94 !important;
  /* color: transparent !important;
  -webkit-text-stroke: 1px #286a94 !important; */
  display: block !important;
  font-weight: 700;
}
.page-large-heading{
font-size: 22px;
margin-bottom: 15px;
font-weight: 600;
text-transform: capitalize;
}
.page-description{
  line-height: normal;
  font-size: 17.2px;
  font-weight: 500;
}